@model MenuCategory

@{
    ViewData["Title"] = "Details of the category";
}
<head>
    <style>
         body {
            background-color: #92ba92;
         }

         .form-container{
            background-color: #fff;
         }

         .form-container label{
            color: #525e75; 
         }
    </style>
</head>
<body>
    <div class="container mx-auto form-container p-5">
        <div class="row text">
            <div class="col-md-8 offset-2">
                 <h2 class="text-dark text-center">Details for @Model.Name</h2>
                <div class="row">
                    <div class="col-md-8 offset-2">
                            <div class="form-group text-center pb-3">
                                <img id="LogoPreview"  class="border-info rounded-circle" style="max-width: 150px" />
                            </div>
                    
                            <div class="form-group pb-3">
                                <label asp-for="Name" class="control-label"></label>
                                <input asp-for="Name" class="form-control" readonly/>
                                <span asp-validation-for="Name" class="text-danger"></span>
                            </div>
                    
                             <div class="form-group pb-3">
                                @if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
                                {
                                    <a class="btn btn-outline-success float-right" asp-action="Edit" asp-route-id="@Model.Id">Edit</a>
                                }
                                    <a class="btn btn-outline-secondary" asp-action="Index">Back to Categories</a>
                                </div>            
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>