<head>
    <style>
         body {
            background-color: #92ba92;
         }
</style>
</head>
<body>         
    <div class="container mx-autobg-white p-5">
    <h1 class="text-center text-dark">Forgot Password Confirmation</h1>
    <p class="text-center text-dark">
        Please check your email to reset your password.
    </p>
</div>
</body>