@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<head>
    <style>
         body {
            background-color: #92ba92;
         }
</style>
</head>
<body>    
      <div class="container mx-autobg-white p-5">
        <h1 class="text-center text-dark" >You are locked out of account. Please try again in a couple minutes.</h1>
      </div>
</body>